body {
    margin: 0;
    font-family: "Noto Serif", serif;
    background-color: #e0e1dd;
    box-sizing: border-box;
}

/* Header section */

header {
    background-color: #293241;
}

.stretch-top {
    width: 100%;
    max-height: 40rem;
}

.navbar {
    text-align: center;
    padding: 0.6vw;
    font-size: 1.5vw;
    background-color: #293241;
}

.navlist {
    padding: 0;
}

.navlist li {
    display: inline;
    padding: 0.5vw 3.6vw;
}

.navlist a {
    text-decoration: none;
    color: #e0e1dd;
}

.navlist a:visited {
    color: #e0e1dd;
}

.navlist a:hover {
    color: #98c1d9;
}

/* Main section */

h1 {
    text-align: center;
    margin: 5% 4% 0;
    padding: 2.5vw;
    font-size: 3.7vw;
    color: #e0e1dd;
    background-color: #293241;
}

.intro {
    display: flex;
    padding: 5%;
}

.clock {
    width: 25%;
    border-radius: 0.1rem;
}

.welcome-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.main-panel {
    display: flex;
    padding: 5% 0;
    font-size: 1.2vw;
}

.intro-paragraphs {
    width: 90%;
    padding: 0 3%;
}

.intro-paragraphs p {
    text-align: start;
}

.bold-intro {    
    font-weight: 700;
}

.discover {
    font-size: 1.3vw;
}

.tomorrow {
    max-width: 160px;
}

.tomorrow a {
    display: none;
}

.flyover-video-link img {
    width: 36vw;
    height: 18vw;
}

.flyover-link {
    display: block;
    text-transform: uppercase;
    margin: 1vh auto;
    font-size: 1vw;
    font-weight: 700;
    color: #000;
}

.flyover-link:visited {
    color: #293241;
}

.flyover-link:hover {
    color: #98c1d9;
}

/* Footer section */

footer {
    position: relative;
    text-align: center;
    color: #e0e1dd;
    background-color: #000;
}

.stretch-bottom {
    width: 100%;
    max-height: 40rem;
}

.nametag-main {
    position: absolute;
    bottom: 8px;
    right: 16px;
    opacity: 0.6;
}

/* Sub-pages */

.split-image {
    display: flex;
}

.image-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.7);
    color: #e0e1dd;
    transition: .5s ease;
    opacity: 0;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
}

.image-overlay:hover .overlay {
    opacity: 1;
}

/* Restaurants, Shops pages */

.restaurants-first {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: minmax(auto, auto);
    text-align: center;
    align-items: center;
    margin: 5% 3%;
}

.restaurants-first img {
    width: 100%;
    height: auto;
}

.restaurants-first h2, .restaurants-second h2 {
    margin: 2% 0;
}

.restaurants-first p, .restaurants-second p {
    margin: 0;
}

.restaurants-first .description {
    margin: 0 10%;
    font-size: 1.5vw;
}

.restaurants-second {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, auto));
    grid-template-rows: minmax(auto, auto);
    text-align: center;
    align-items: center;
    margin: 0 3% 5%;
}

.restaurants-second img {
    width: 100%;
    height: auto;
}

.restaurants-second .description {
    margin: 0 10%;
    font-size: 1.5vw;
}

/* Church, School pages */

.churches {
    display: grid;
    grid-template-columns: minmax(auto, 3fr) minmax(auto, 1fr);
    grid-template-rows: repeat(2, minmax(auto, auto));
    grid-row-gap: 1rem;
    text-align: center;
    align-items: center;
    margin: 5%;
}

.churches img {
    width: 100%;
    height: auto;
}

.churches h2, .churches p {
    margin-left: 20%;
    font-size: 2vw;
}

.schools {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 5% 0 1% 5%;
}

.mp-tall-info {
    width: 75%;
}

.schools h2, .schools p {
    margin: 5% 15%;
    font-size: 2vw;
}

.mp-tall img {
    width: 100%;
}

.mp-wide img {
    width: 90%;
    margin: 0 5% 5% 5%;
}

/* Park, Event pages */

.first-header-picture {
    width: 35%;
    max-height: 40rem;
}

.second-header-picture {
    width: 65%;
    max-height: 40rem;
}

.park-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.park-pictures p {
    width: 80%;
    text-align: center;
    margin: 3% 0;
    font-size: 2vw;
    font-weight: 700;
}

.park-pictures img {
    width: 80%;
    max-height: 60rem;
    margin-bottom: 4%;
}

.events {
    margin-top: 3%;
}

.events h2, .events p {
    text-align: center;
    font-size: 2vw;
}

.events img {
    width: 100%;
}

/* Sub pages footer */

footer {
    background-color: #293241;
}

.nametag-sub {
    margin: 0;
}

/* Resizing */

@media (max-width: 1199px) {

    .nametag-main, .nametag-sub {
        font-size: 0.9rem;
    }
}

@media (max-width: 899px) {

    .main-panel {
        padding-top: 0;
    }

    .tomorrow {
        display: none;
    }

    .clock {
        display: none;
    }

    .nametag-main, .nametag-sub {
        font-size: 0.8rem;
    }
    
    .park-pictures p {
        width: 90%;
    }
    
    .park-pictures img {
        width: 90%;
    }
}

@media (max-width: 599px) {

    .nametag-main, .nametag-sub {
        font-size: 0.5rem;
    }
    
    .first-header-picture {
        display: none;
    }

    .second-header-picture {
        width: 100%;
        height: 25rem;
    }

    .churches {
        display: block;
    }
    
    .churches h2, .churches p {
        margin: 1rem 2rem;
    }

    .schools h2, .schools p {
        margin: 0.5rem 1rem;
    }
}