body {
    margin: 0;
    font-family: "Noto Serif", serif;
    background-color: #e0e1dd;
    box-sizing: border-box;
}

/* Header section */

header {
    background-color: #293241;
}

.stretch-top {
    width: 100%;
    height: 40rem;
}

.navbar {
    text-align: center;
    padding: 0.6rem;
    font-size: 1.8rem;
    background-color: #293241;
}

.navlist {
    padding: 0;
}

.navlist li {
    display: inline;
    padding: 0.5rem 4rem;
}

.navlist a {
    text-decoration: none;
    color: #e0e1dd;
}

.navlist a:visited {
    color: #e0e1dd;
}

.navlist a:hover {
    color: #98c1d9;
}

/* Main section */

h1 {
    text-align: center;
    margin: 5rem 4rem 0;
    padding: 3rem;
    font-size: 4rem;
    color: #e0e1dd;
    background-color: #293241;
    border: 2px solid #293241;
}

.intro {
    display: flex;
    padding: 5rem 6rem;
}

.clock {
    width: 26rem;
    border-radius: 0.1rem;
}

.welcome-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2rem;
    color: #293241;
}

.main-panel {
    display: flex;
    padding: 4rem 0 6rem;
    font-size: 1.3rem;
}

.intro-paragraphs {
    width: 90%;
    margin-left: 2rem;
}

.intro-paragraphs p {
    text-align: start;
}

.bold-intro {    
    font-weight: 700;
}

.discover {
    font-size: 1.5rem;
}

.tomorrow {
    margin-left: 4rem;
}

.tomorrow a {
    display: none;
}

.flyover-video-link img {
    width: 40rem;
    height: 20rem;
}

.flyover-link {
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 700;
    color: #293241;
}

.flyover-link:visited {
    color: #293241;
}

.flyover-link:hover {
    color: #98c1d9;
}

/* Footer section */

footer {
    position: relative;
    text-align: center;
    color: #e0e1dd;
    background-color: #000;
}

.stretch-bottom {
    width: 100%;
    height: 36rem;
}

.nametag-main {
    position: absolute;
    bottom: 8px;
    right: 16px;
    opacity: 0.6;
}

/* Sub-pages */

.split-image {
    display: flex;
}

.image-overlay {
    position: relative;
}

.first-clock-picture {
    width: 35%;
    height: 40rem;
}

.second-clock-picture {
    width: 65%;
    height: 40rem;
}

.overlay {
    position: absolute;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.7);
    color: #e0e1dd;
    transition: .5s ease;
    opacity: 0;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
}

.image-overlay:hover .overlay {
    opacity: 1;
}

.restaurants-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36rem 1fr;
    text-align: center;
    align-items: center;
    margin: 10rem 3rem;
}

.restaurants-first img {
    width: 100%;
    height: 100%;
    max-height: 36rem;
}

.restaurants-first h2, .restaurants-second h2 {
    margin: 1.5rem 0;
}

.restaurants-first p, .restaurants-second p {
    margin: 0;
}

.restaurants-first .description {
    margin: 0 10rem;
    font-size: 2rem;
}

.restaurants-second {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 54rem 1fr;
    text-align: center;
    align-items: center;
    margin: 0 3rem 8rem;
}

.restaurants-second img {
    width: 100%;
    height: 100%;
    max-height: 54rem;
}

.restaurants-second .description {
    margin: 0 4rem;
    font-size: 2rem;
}

.park-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.park-pictures p {
    width: 70%;
    text-align: center;
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.park-pictures img {
    width: 70%;
    height: 40rem;
    margin: 0 0 3rem;
}

footer {
    background-color: #293241;
}

.nametag-sub {
    margin: 0;
}

/* Resizing */

@media (max-width: 2399px) {

    .restaurants-first {
        grid-template-rows: 28rem 1fr;
        margin: 8rem 3rem;
    }
    
    .restaurants-first img {
        max-height: 28rem;
    }
            
    .restaurants-first .description {
        margin: 0 8rem;
        font-size: 1.6rem;
    }
    
    .restaurants-second {
        grid-template-rows: 42.5rem 1fr;
        margin: 0 3rem 8rem;
    }
    
    .restaurants-second img {
        max-height: 42.5rem;
    }
    
    .restaurants-second .description {
        margin: 0 3rem;
        font-size: 1.6rem;
    }
}

@media (max-width: 1899px) {

    .restaurants-first {
        grid-template-rows: 24rem 1fr;
        margin: 6rem 3rem;
    }
    
    .restaurants-first img {
        max-height: 24rem;
    }
    
    .restaurants-first h2, .restaurants-second h2 {
        margin: 1rem 0;
    }
        
    .restaurants-first .description {
        margin: 0 6rem;
        font-size: 1.4rem;
    }
    
    .restaurants-second {
        grid-template-rows: 35rem 1fr;
        margin: 0 3rem 8rem;
    }
    
    .restaurants-second img {
        max-height: 35rem;
    }
    
    .restaurants-second .description {
        margin: 0 2rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 1599px) {

    .stretch-top {
        height: 36rem;
    }

    .navbar {
        font-size: 1.5rem;
    }

    .navlist li {
        padding: 0.5rem 2.7rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    .intro {
        padding: 4rem 5rem;
    }

    .clock {
        width: 22rem;
    }

    .main-panel {
        padding: 3rem 0;
        font-size: 1.1rem;
    }

    .intro-paragraphs {
        margin-left: 1rem;
    }

    .discover {
        font-size: 1.3rem;
    }

    .tomorrow {
        max-width: 200px;
        margin-left: 3rem;
    }

    .flyover-video-link img {
        width: 30rem;
        height: 15rem;
    }

    .flyover-link {
        font-size: 1rem;
    }

    .stretch-bottom {
        height: 26rem;
    }

    .restaurants-first {
        grid-template-rows: 17rem 1fr;
        margin: 5rem 3rem;
    }
    
    .restaurants-first img {
        max-height: 17rem;
    }
    
    .restaurants-first h2, .restaurants-second h2 {
        margin: 0.8rem 0;
    }

    .restaurants-first .description {
        margin: 0 4rem;
        font-size: 1.2rem;
    }
    
    .restaurants-second {
        grid-template-rows: 24rem 1fr;
        margin: 0 3rem 5rem;
    }
    
    .restaurants-second img {
        max-height: 24rem;
    }

    .restaurants-second .description {
        margin: 0 1.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 1199px) {

    .stretch-top {
        height: 30rem;
    }

    .navbar {
        font-size: 1.2rem;
    }

    .navlist li {
        padding: 0.5rem 1.9rem;
    }

    .intro {
        padding: 4rem 2rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    .clock {
        width: 20rem;
    }

    .welcome-intro {
        margin-left: 1rem;
    }

    .main-panel {
        padding: 2rem 0;
        font-size: 1rem;
    }

    .intro-paragraphs {
        margin-left: 1rem;
    }

    .discover {
        font-size: 1.2rem;
    }

    .tomorrow {
        max-width: 180px;
        margin-left: 2rem;
    }

    .stretch-bottom {
        height: 22rem;
    }

    .nametag-main, .nametag-sub {
        font-size: 0.9rem;
    }

    .restaurants-first {
        grid-template-rows: 12rem 1fr;
        margin: 4rem 3rem;
    }
    
    .restaurants-first img {
        max-height: 12rem;
    }
    
    .restaurants-first h2, .restaurants-second h2 {
        margin: 0.5rem 0;
    }

    .restaurants-first .description {
        margin: 0 2rem;
        font-size: 0.9rem;
    }
    
    .restaurants-second {
        grid-template-rows: 18rem 1fr;
    }
    
    .restaurants-second img {
        max-height: 18rem;
    }

    .restaurants-second .description {
        margin: 0 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 899px) {

    .stretch-top {
        height: 24rem;
    }

    .navbar {
        font-size: 1rem;
    }

    .navlist li {
        padding: 0.5rem 0.9rem;
    }

    h1 {
        margin: 3rem 2rem 0;
        font-size: 1.8rem;
    }

    .intro {
        padding: 2rem;
    }

    .clock {
        display: none;
    }

    .welcome-intro {
        margin-left: 0;
    }

    .main-panel {
        padding: 1rem 0;
    }

    .intro-paragraphs {
        margin-left: 0;
    }

    .tomorrow {
        max-width: 160px;
        margin-left: 0.5rem;
    }

    .stretch-bottom {
        height: 16rem;
    }
    
    .nametag-main, .nametag-sub {
        font-size: 0.8rem;
    }

    .restaurants-first {
        grid-template-rows: 9rem 1fr;
        margin: 3rem 1rem;
    }
    
    .restaurants-first img {
        max-height: 9rem;
    }
    
    .restaurants-first h2, .restaurants-second h2 {
        margin: 0.3rem 0;
    }

    .restaurants-first .description {
        margin: 0 1rem;
        font-size: 0.7rem;
    }
    
    .restaurants-second {
        grid-template-rows: 12rem 1fr;
        margin: 0 1rem 3rem;
    }
    
    .restaurants-second img {
        max-height: 12rem;
    }

    .restaurants-second .description {
        margin: 0 0.9rem;
        font-size: 0.7rem;
    }
    
    .park-pictures p {
        width: 90%;
    }
    
    .park-pictures img {
        width: 90%;
    }
}

@media (max-width: 599px) {

    .stretch-top {
        height: 18rem;
    }

    .navbar {
        font-size: 1.3rem;
    }

    .navbar ul {
        margin: 0;
    }

    .navlist li {
        display: inline-block;
        padding: 1rem;
    }

    h1 {
        margin: 2rem 1rem 0;
        font-size: 1.5rem;
    }

    .intro {
        padding: 2rem 1rem;
    }

    .welcome-intro {
        margin-left: 0;
    }

    .main-panel {
        padding: 0 0 2rem;
        font-size: 1rem;
    }

    .intro-paragraphs {
        width: 100%;
    }

    .discover {
        font-size: 1.2rem;
    }

    .tomorrow {
        display: none;
    }

    .flyover-video-link img {
        width: 15rem;
        height: 8rem;
    }

    .flyover-link {
        font-size: 0.6rem;
    }

    .stretch-bottom {
        height: 10rem;
    }

    .nametag-main, .nametag-sub {
        font-size: 0.5rem;
    }

    .restaurants-first {
        grid-template-rows: 7rem 1fr;
        margin: 2rem 0;
    }
    
    .restaurants-first img {
        max-height: 7rem;
    }

    .restaurants-first .description {
        margin: 0 1rem;
        font-size: 0.5rem;
    }

    .description p {
        display: none;
    }

    .restaurants-second {
        grid-template-rows: 8rem 1fr;
        margin: 0 0 2rem;
    }
    
    .restaurants-second img {
        max-height: 8rem;
    }

    .restaurants-second .description {
        margin: 0 1rem;
        font-size: 0.5rem;
    }
    
    .first-clock-picture {
        display: none;
    }

    .second-clock-picture {
        width: 100%;
        height: 25rem;
    }

    .park-pictures p {
        font-size: 1.5rem;
    }

    .park-pictures img {
        width: 100%;
        height: 30rem;
    }
}

@media (max-width: 449px) {

    .restaurants-first {
        grid-template-rows: 5rem 1fr;
    }
    
    .restaurants-first img {
        max-height: 5rem;
    }
}