body {
    margin: 0;
    font-family: "Noto Serif", serif;
    background-color: #e0e1dd;
    box-sizing: border-box;
}

/* Header section */

header {
    background-color: #293241;
}

.stretch-top {
    width: 100%;
    max-height: 40rem;
}

.navbar {
    text-align: center;
    padding: 0.6rem;
    font-size: 1.8rem;
    background-color: #293241;
}

.navlist {
    padding: 0;
}

.navlist li {
    display: inline;
    padding: 0.5rem 4rem;
}

.navlist a {
    text-decoration: none;
    color: #e0e1dd;
}

.navlist a:visited {
    color: #e0e1dd;
}

.navlist a:hover {
    color: #98c1d9;
}

/* Main section */

h1 {
    text-align: center;
    margin: 5rem 4rem 0;
    padding: 3rem;
    font-size: 4rem;
    color: #e0e1dd;
    background-color: #293241;
    border: 2px solid #293241;
}

.intro {
    display: flex;
    padding: 5rem 6rem;
}

.clock {
    width: 26rem;
    border-radius: 0.1rem;
}

.welcome-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
    color: #293241;
}

.main-panel {
    display: flex;
    padding: 4rem 0 6rem;
    font-size: 1.3rem;
}

.intro-paragraphs {
    width: 90%;
}

.intro-paragraphs p {
    text-align: start;
}

.bold-intro {    
    font-weight: 700;
}

.discover {
    font-size: 1.5rem;
}

.tomorrow {
    margin-left: 4rem;
}

.tomorrow a {
    display: none;
}

.flyover-video-link img {
    width: 40rem;
    height: 20rem;
}

.flyover-link {
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 700;
    color: #293241;
}

.flyover-link:visited {
    color: #293241;
}

.flyover-link:hover {
    color: #98c1d9;
}

/* Footer section */

footer {
    position: relative;
    text-align: center;
    color: #e0e1dd;
    background-color: #000;
}

.stretch-bottom {
    width: 100%;
    max-height: 40rem;
}

.nametag-main {
    position: absolute;
    bottom: 8px;
    right: 16px;
    opacity: 0.6;
}

/* Sub-pages */

.split-image {
    display: flex;
}

.image-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.7);
    color: #e0e1dd;
    transition: .5s ease;
    opacity: 0;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
}

.image-overlay:hover .overlay {
    opacity: 1;
}

/* Restaurants, Shops pages */

.restaurants-first {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: minmax(auto, auto);
    text-align: center;
    align-items: center;
    margin: 5% 3%;
}

.restaurants-first img {
    width: 100%;
    height: auto;
}

.restaurants-first h2, .restaurants-second h2 {
    margin: 2% 0;
}

.restaurants-first p, .restaurants-second p {
    margin: 0;
}

.restaurants-first .description {
    margin: 0 10%;
    font-size: 1.5vw;
}

.restaurants-second {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, auto));
    grid-template-rows: minmax(auto, auto);
    text-align: center;
    align-items: center;
    margin: 0 3% 5%;
}

.restaurants-second img {
    width: 100%;
    height: auto;
}

.restaurants-second .description {
    margin: 0 10%;
    font-size: 1.5vw;
}

/* Church page */

.churches {
    display: grid;
    grid-template-columns: minmax(auto, 3fr) minmax(auto, 1fr);
    grid-template-rows: repeat(2, minmax(auto, auto));
    grid-row-gap: 1rem;
    text-align: center;
    align-items: center;
    margin: 5%;
}

.churches img {
    width: 100%;
    height: auto;
}

.churches h2, .churches p {
    margin-left: 20%;
    font-size: 2vw;
}

.events h2, .schools h2 {
    text-align: center;
    margin: 3rem auto;
    font-size: 3rem;
}

.events img {
    width: 100%;
}

.mp-tall img {
    width: 70%;
    margin: 5% 15% 0;
}

.mp-wide img {
    width: 90%;
    padding: 0 5% 5%;
}

/* Parks, Events pages */

.first-header-picture {
    width: 35%;
    height: 40rem;
}

.second-header-picture {
    width: 65%;
    height: 40rem;
}

.park-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.park-pictures p {
    width: 70%;
    text-align: center;
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.park-pictures img {
    width: 70%;
    height: 40rem;
    margin: 0 0 3rem;
}

/* Sub pages footer */

footer {
    background-color: #293241;
}

.nametag-sub {
    margin: 0;
}

/* Resizing */

@media (max-width: 1599px) {

    .navbar {
        font-size: 1.5rem;
    }

    .navlist li {
        padding: 0.5rem 2.7rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    .intro {
        padding: 4rem 5rem;
    }

    .clock {
        width: 22rem;
    }

    .main-panel {
        padding: 3rem 0;
        font-size: 1.1rem;
    }

    .discover {
        font-size: 1.3rem;
    }

    .tomorrow {
        max-width: 200px;
        margin-left: 3rem;
    }

    .flyover-video-link img {
        width: 30rem;
        height: 15rem;
    }

    .flyover-link {
        font-size: 1rem;
    }
}

@media (max-width: 1199px) {

    .navbar {
        font-size: 1.2rem;
    }

    .navlist li {
        padding: 0.5rem 1.9rem;
    }

    .intro {
        padding: 4rem 2rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    .clock {
        width: 20rem;
    }

    .welcome-intro {
        margin-left: 1rem;
    }

    .main-panel {
        padding: 2rem 0;
        font-size: 1rem;
    }

    .discover {
        font-size: 1.2rem;
    }

    .tomorrow {
        max-width: 180px;
        margin-left: 2rem;
    }

    .nametag-main, .nametag-sub {
        font-size: 0.9rem;
    }
}

@media (max-width: 899px) {

    .navbar {
        font-size: 1rem;
    }

    .navlist li {
        padding: 0.5rem 0.9rem;
    }

    h1 {
        margin: 3rem 2rem 0;
        font-size: 1.8rem;
    }

    .intro {
        padding: 2rem;
    }

    .clock {
        display: none;
    }

    .welcome-intro {
        margin-left: 0;
    }

    .main-panel {
        padding: 1rem 0;
    }

    .tomorrow {
        max-width: 160px;
        margin-left: 0.5rem;
    }
    
    .nametag-main, .nametag-sub {
        font-size: 0.8rem;
    }
    
    .park-pictures p {
        width: 90%;
    }
    
    .park-pictures img {
        width: 90%;
    }

    .events h2, .schools h2 {
        margin: 2rem auto;
        font-size: 2rem;
    }
}

@media (max-width: 599px) {

    .navbar {
        font-size: 1.3rem;
    }

    .navbar ul {
        margin: 0;
    }

    .navlist li {
        display: inline-block;
        padding: 1rem;
    }

    h1 {
        margin: 2rem 1rem 0;
        font-size: 1.5rem;
    }

    .intro {
        padding: 2rem 1rem;
    }

    .welcome-intro {
        margin-left: 0;
    }

    .main-panel {
        padding: 0 0 2rem;
        font-size: 1rem;
    }

    .intro-paragraphs {
        width: 100%;
    }

    .discover {
        font-size: 1.2rem;
    }

    .tomorrow {
        display: none;
    }

    .flyover-video-link img {
        width: 15rem;
        height: 8rem;
    }

    .flyover-link {
        font-size: 0.6rem;
    }

    .nametag-main, .nametag-sub {
        font-size: 0.5rem;
    }
    
    .first-header-picture {
        display: none;
    }

    .second-header-picture {
        width: 100%;
        height: 25rem;
    }

    .park-pictures p {
        font-size: 1.5rem;
    }

    .park-pictures img {
        width: 100%;
        height: 30rem;
    }

    .churches {
        display: block;
    }
    
    .churches h2, .churches p {
        margin: 1rem 2rem;
    }

    .events h2, .schools h2 {
        font-size: 1.6rem;
    }
}